*{
    margin: 0px 0px 0px ;
    /* border:1px solid red;     */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(156, 156, 156);

}

h1{
    color: #ffffff;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.bar{
    display: flex;
    margin-right: 20px;
}

li{
    list-style: none;
}

li>a{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

li>a:hover{
    color:#0015ff;
}

.center{
text-align: center;
}

.link{
    margin-top: 30px;
    margin-bottom: 10px;
}

button{
    background-color: transparent;
    color: #001eff;
    font-weight: bold;
    border:1px solid #fff4d9 ;
}

.link> a{
    border-radius: 50px;
    padding: 10px 10px 10px;
    text-decoration: none;
    background: linear-gradient(#c6ffdd, #fbd786, #f7797d);
    border: 1px solid #fff;
   
}

button:hover{
    color: #000;
    transition: 2s;
}

h3{
    color: #fff;
    background-color:156, 156, 156;
}

.las{
    margin-bottom: 20px;
}